
body, html {
  height: auto;
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow-x: hidden;
  overflow-y: auto;
}

#stars, #stars2, #stars3, #stars4,#stars5 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: drop-shadow(0 0 2px white) drop-shadow(0 0 4px #ffffffaa);
}


#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    100px 100px #FFF, 300px 300px #FFF, 500px 600px #FFF, 700px 900px #FFF,
    900px 1200px #FFF, 1100px 1500px #FFF, 1300px 1800px #FFF, 1500px 2100px #FFF,
    200px 1100px #FFF, 800px 500px #FFF, 1600px 700px #FFF, 300px 900px #FFF,
    250px 350px #FFF, 450px 650px #FFF, 650px 950px #FFF, 850px 1250px #FFF,
    1050px 1550px #FFF, 1250px 1850px #FFF, 1450px 2150px #FFF;
  animation: animStar 60s linear infinite;
  opacity: 0.5;
}


#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow:
    200px 200px #FFF, 400px 500px #FFF, 600px 800px #FFF, 800px 1100px #FFF,
    1000px 1400px #FFF, 1200px 1700px #FFF, 1400px 2000px #FFF,
    200px 1100px #FFF, 800px 500px #FFF, 1600px 700px #FFF, 300px 900px #FFF;
  animation: animStar 200s linear infinite;
  opacity: 0.7;
}


#stars3 {
  width: 2.5px;
  height: 2.5px;
  background: transparent;
  box-shadow:
    150px 250px #FFF, 350px 550px #FFF, 550px 850px #FFF, 750px 1150px #FFF,
    950px 1450px #FFF, 1150px 1750px #FFF, 1350px 2050px #FFF,
    200px 1100px #FFF, 800px 500px #FFF, 1600px 700px #FFF, 300px 900px #FFF;
  animation: animStar 8000s linear infinite;
  opacity : 0.2;

}


#stars4 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    250px 350px #FFF, 450px 650px #FFF, 650px 950px #FFF, 850px 1250px #FFF,
    1050px 1550px #FFF, 1250px 1850px #FFF, 1450px 2150px #FFF,
    200px 1100px #FFF, 800px 500px #FFF, 1600px 700px #FFF, 300px 900px #FFF;
  animation: animStar 200s linear infinite;
  opacity : 0.8;
}

    

#stars5 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    700px 1100px #FFF, 800px 500px #FFF, 1600px 700px #FFF, 300px 900px #FFF,
    150px 200px #FFF, 400px 500px #FFF, 600px 800px #FFF, 800px 1100px #FFF,
    1000px 1400px #FFF, 1900px 1700px #FFF, 1400px 2000px #FFF,
    200px 1100px #FFF, 800px 500px #FFF, 1600px 700px #FFF, 300px 900px #FFF;
  animation: animStar 300s linear infinite;
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}


.hover-glow {
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hover-glow:hover {
  text-shadow:
    0 0 20px rgb(249, 7, 249),
    0 0 30px rgb(146, 4, 182),
    0 0 50px rgb(125, 5, 133),
    0 0 70px rgb(172, 7, 175);
}

.logo{
  cursor: pointer;
  transition: all 0.3s ease;
}

.logo:hover {
  box-shadow: 5px 5px 20px rgba(249, 7, 249, 0.5),
  5px 5px 20px rgba(249, 7, 249, 0.5);
}

.actions{
  cursor: pointer;
  transition: all 0.3s ease;
}

.actions:hover{
  text-shadow:
    0 0 20px rgb(249, 7, 249),
    0 0 30px rgb(146, 4, 182),
    0 0 50px rgb(125, 5, 133),
    0 0 70px rgb(172, 7, 175);
}

.box {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #ffffff22;
  border-radius: 12px;
  padding: 20px;
  width: 220px;
  text-align: center;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  /*position: relative;*/
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.mushroom_img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s ease;
  border-radius: 8px;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 10px;
  background-color: #222;
  border-radius: 4px;
}


.description_button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ffffff22;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.mushroom_description {
  margin-top: 10px;
  font-size: 14px;
  color: #ccc;
}

.chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 80px;
  width: 80px;
  background-color: #282c34;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  z-index: 999;
  transition: transform 0.3s ease;
}

.chatbot-icon:hover {
  transform: scale(1.1);
  background-color: #3f51b5;
}

.chatbot-container {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 360px;
  max-height: 800px;
  background: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  z-index: 1001;
  overflow: hidden;
}
